// Font 
$basefontfamily: "メイリオ",Verdana,"游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #FFF6E5;
$subColor: #F3E2C2;
$keyColor: #6480A6;
$fontColor: #856A63;

// body
html{
    background-color:$baseColor;
    color:$fontColor;
    

    p{
      font-size:90%;
      line-height:1.6;
      letter-spacing:0.1em;
    }
    h1{
      font-size:130%;
      font-weight:bold;
      text-align:center;
    }
    h2{
      font-size:120%;
      font-weight:bold;
      text-align:center;
    }
}

// header
.topphoto{
    background-image:url("../images/image_top.jpg"); 
    height:250px;
    width:100%;
    background-size:cover;
    background-position:center center;
    background-color:$subColor;
}
   
// main
.maintitle{
    margin:50px 0;
}

.container{
    width:100%;
    margin:30px 0;
    text-align:center;
    
    display:flex;
    justify-content:space-around;
    flex-direction:column;
        .textbox{
            background-color:$subColor;
            flex:1;
            
            margin:0 20px;
            padding:20px 30px;
            text-align:left;
                .title{
                    padding:20px 0px 30px;
                }
        }
}


// footer
footer{
    
    background-color:$subColor;
    text-align:center;
    width:100%;
    padding:30px 0;

    .footer-box{
        padding:20px 0;
    }
    .footer_button{
        width:200px;
        height:30px;
        color:$baseColor;
        background-color:$keyColor;
        text-align:center;
        text-decoration:none;
        border-radius:5px;
    
        margin:20px auto; //ボタン中央揃え
        line-height:2;
    }
}


// for PCsite
@media(min-width:769px){
    
//topphoto
    .topphoto{
        height:500px;
    }

//main
    .container{
        flex-direction:row;
    }
}